## Hitting Rest API

Most people use the `requests` [package](https://github.com/psf/requests)

## How do I keep API Keys out of version control? 

Use the `keyring` package:

from command line:
```
keyring set <name_of_key> <username>
```

from python
```
import keyring

api_url = (
    'https://something.com/something/'
    f'?key={keyring.get_password('TESTAPI', 'imyjer')}'
)
```

In [1]:
import requests
import pandas as pd
import keyring

## OMDB Movie Database

In [2]:
# these fields determined by looking at API Spec!
payload = {
    'apikey': 'XXXXXXXX', #  don't do this IRL!!
    'apikey': f'{keyring.get('omdbapi', 'imyjer')}',  # do this IRL!!
    't': ['Hot Rod'],
    'r': 'json',
    'type': 'movie'
}
base_url = 'http://www.omdbapi.com/'

# make GET request
r = requests.get(base_url, params=payload)

# check the status: 2xx Success, 3xx Redirection, 4xx Client Error, 5xx Server Error
print(f'status code: {r.status_code} \n')

# view the raw response text
print(f'text: {r.text} \n')

# decode the JSON response body into a dictionary
print(f'json: {r.json()}\n')

# extracting the year from the dictionary
print(f"year: {r.json()['Year']}")

status code: 200

text: {"Title":"Hot Rod","Year":"2007","Rated":"PG-13","Released":"03 Aug 2007","Runtime":"88 min","Genre":"Comedy, Sport","Director":"Akiva Schaffer","Writer":"Pam Brady","Actors":"Andy Samberg, Jorma Taccone, Bill Hader, Danny McBride","Plot":"Self-proclaimed stuntman Rod Kimble is preparing for the jump of his life - to clear fifteen buses to raise money for his abusive stepfather Frank's life-saving heart operation.","Language":"English","Country":"USA","Awards":"1 win & 1 nomination.","Poster":"https://m.media-amazon.com/images/M/MV5BNjYwNjA3OTY0Nl5BMl5BanBnXkFtZTcwNDMyNDUzMw@@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"6.7/10"},{"Source":"Rotten Tomatoes","Value":"39%"},{"Source":"Metacritic","Value":"43/100"}],"Metascore":"43","imdbRating":"6.7","imdbVotes":"73,146","imdbID":"tt0787475","Type":"movie","DVD":"27 Nov 2007","BoxOffice":"$13,900,000","Production":"Paramount Pictures","Website":"N/A","Response":"True"}

json: {'Title': 'Hot Rod', 'Year': '2007', 'Rated': 'PG-13', 'Released': '03 Aug 2007', 'Runtime': '88 min', 'Genre': 'Comedy, Sport', 'Director': 'Akiva Schaffer', 'Writer': 'Pam Brady', 'Actors': 'Andy Samberg, Jorma Taccone, Bill Hader, Danny McBride', 'Plot': "Self-proclaimed stuntman Rod Kimble is preparing for the jump of his life - to clear fifteen buses to raise money for his abusive stepfather Frank's life-saving heart operation.", 'Language': 'English', 'Country': 'USA', 'Awards': '1 win & 1 nomination.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjYwNjA3OTY0Nl5BMl5BanBnXkFtZTcwNDMyNDUzMw@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.7/10'}, {'Source': 'Rotten Tomatoes', 'Value': '39%'}, {'Source': 'Metacritic', 'Value': '43/100'}], 'Metascore': '43', 'imdbRating': '6.7', 'imdbVotes': '73,146', 'imdbID': 'tt0787475', 'Type': 'movie', 'DVD': '27 Nov 2007', 'BoxOffice': '$13,900,000', 'Production': 'Paramount Pictures', 'Website': 'N/A', 'Response': 'True'}

year: 2007

In [3]:
df = pd.DataFrame([r.json()])  # LOL pandas
df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Hot Rod,2007,PG-13,03 Aug 2007,88 min,"Comedy, Sport",Akiva Schaffer,Pam Brady,"Andy Samberg, Jorma Taccone, Bill Hader, Danny...",Self-proclaimed stuntman Rod Kimble is prepari...,...,43,6.7,"73,146",tt0787475,movie,27 Nov 2007,"$13,900,000",Paramount Pictures,N/A,True

In [4]:
# what happens if the movie name is not recognized?
r = requests.get('http://www.omdbapi.com/?apikey=9542f4e1&t=blahblahblah&r=json&type=movie')
print(r.status_code)
print(r.json())

200
{'Response': 'False', 'Error': 'Movie not found!'}

## Dark Sky API
because we still can

In [5]:
# forecast for Arlington
payload = {
    'exclude': 'currently,minutely,daily,alterts,flags',
    'lang': 'en',
    'units': 'si',
    'extend': 'hourly'
}
base_url = f'https://api.darksky.net/forecast/{keyring.get_password("darksky", "username")}/38.8816,77.0910'

r = requests.get(base_url, params=payload)

In [6]:
df = pd.DataFrame(r.json()['hourly']['data'])
df

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,ozone,precipType
0,1585940400,Mostly Cloudy,partly-cloudy-night,0.0000,0.00,9.90,8.67,-6.15,0.32,1022.3,2.55,4.02,11,0.69,0,16.093,330.6,NaN
1,1585944000,Mostly Cloudy,partly-cloudy-night,0.0000,0.00,8.86,7.44,-4.86,0.38,1022.4,2.55,3.27,5,0.70,0,16.093,330.6,NaN
2,1585947600,Partly Cloudy,partly-cloudy-night,0.0000,0.00,7.87,6.41,-3.80,0.44,1022.5,2.36,2.85,358,0.57,0,16.093,330.9,NaN
3,1585951200,Partly Cloudy,partly-cloudy-night,0.0000,0.00,6.57,5.08,-2.75,0.51,1022.5,2.12,2.74,317,0.52,0,16.093,332.2,NaN
4,1585954800,Clear,clear-night,0.0000,0.00,5.41,3.75,-1.97,0.59,1022.6,2.10,2.84,323,0.30,0,16.093,333.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,1586530800,Overcast,cloudy,0.0062,0.01,17.07,17.07,-18.09,0.08,1013.4,4.18,5.99,9,0.91,0,16.093,338.5,rain
165,1586534400,Overcast,cloudy,0.0000,0.00,15.77,15.77,-18.05,0.08,1014.0,4.20,5.85,340,0.95,0,16.093,338.1,NaN
166,1586538000,Overcast,cloudy,0.0000,0.00,14.83,14.83,-18.23,0.09,1014.1,4.54,5.80,341,0.96,0,16.093,337.6,NaN
167,1586541600,Overcast,cloudy,0.0000,0.00,13.91,13.91,-17.91,0.09,1014.1,4.69,5.58,340,0.94,0,16.093,336.9,NaN
168,1586545200,Mostly Cloudy,partly-cloudy-night,0.0000,0.00,12.79,12.79,-16.65,0.11,1014.2,4.41,4.97,346,0.84,0,16.093,336.0,NaN